### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

#look at your data first!
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#look to see if there are any null values you have to get rid of 
print(purchase_data.count())

#there are duplicates, get rid of them
clean_purchase_data = purchase_data.drop_duplicates(subset='SN', keep='first')

print(clean_purchase_data.head())

print(clean_purchase_data.count())

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64
   Purchase ID             SN  Age Gender  Item ID  \
0            0        Lisim78   20   Male      108
1            1    Lisovynya38   40   Male      143
2            2     Ithergue48   24   Male       92
3            3  Chamassasya86   24   Male      100
4            4      Iskosia90   23   Male      131

                                   Item Name  Price
0  Extraction, Quickblade Of Trembling Hands   3.53
1                          Frenzied Scimitar   1.56
2                               Final Critic   4.88
3                                Blindscythe   3.27
4                                       Fury   1.44
Purchase ID    576
SN             576
Age            576
Gender         576
Item ID        576
Item Name      576
Price          576
dtype: int64

## Player Count

* Display the total number of players

In [3]:
#print(len(grouped_SN))
Total = clean_purchase_data["SN"].count()
print(Total)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
purchase_data["Price"].mean()
#3.05

3.050987179487176

In [5]:
purchase_data["Item ID"].count()
#708

780

In [6]:
purchase_data["Price"].sum()
#2379.77

2379.77

In [7]:
#find the unique values 

num_unique = purchase_data["Item ID"].nunique()
#183
av_price = purchase_data["Price"].mean()
#3.05
num_purch = purchase_data["Item ID"].count()
#708 
total_rev = purchase_data["Price"].sum()

summary_df = pd.DataFrame({"Number of Unique Items": [num_unique], 
                         "Average Price": [av_price], 
                         "Number of purchases": [num_purch], 
                         "Total Revenue": [total_rev]})
summary_df.head()

   Number of Unique Items  Average Price  Number of purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
#get gender counts from the clean dataset!
gender_counts = clean_purchase_data["Gender"].value_counts()
#print(gender_counts)

#make gender percent from gender counts and total values above
gender_percent = (gender_counts / Total) * 100
#print(gender_percent)

#Convert each to dataframes because they're series
# Creating a new DataFrame using both duration and count
gender_summary_table = pd.DataFrame({"Total Count": gender_counts,
                                    "Percentage of Players": gender_percent})
gender_summary_table.head()

                       Total Count  Percentage of Players
Male                           484              84.027778
Female                          81              14.062500
Other / Non-Disclosed           11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
#we only care about price in this dataframe
#purchae count, average purchase price, average purchase total per person, by gender!

#got the counts for gender
og_gender_counts = purchase_data["Gender"].value_counts() #Purchase Count

#group by gender
grouped_df = purchase_data.groupby(['Gender'])

#get the total purchase
total_purchase = grouped_df["Price"].sum().head(10) #Total Purchase Value
#get average purchase price
mean_purchase = grouped_df["Price"].mean().head(10) #Average Purchase Price
#get average purchase total per person, which is based on total counts form gender demographics
average_purchase = total_purchase/ gender_counts
#print(average_purchase)

#make a pretty summary table
gender_summary_table2 = pd.DataFrame({"Purchase Count": og_gender_counts,
                                    "Total Purchase Value": total_purchase, 
                                     "Average Purchase Price": mean_purchase, 
                                     "Avg Total Purchase per Person": average_purchase})
gender_summary_table2.head()

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg Total Purchase per Person
Female,113,361.94,3.203009,4.468395
Male,652,1967.64,3.017853,4.065372
Other / Non-Disclosed,15,50.19,3.346000,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
clean_purchase_data["Age"].value_counts()

20    69
23    49
22    49
24    48
21    43
25    43
15    26
30    25
16    24
18    21
17    19
19    17
26    11
35    10
29    10
27     9
33     9
10     7
7      7
34     7
11     6
32     6
39     6
8      6
31     5
36     5
37     5
38     5
40     5
28     4
9      4
12     4
13     3
44     2
41     2
14     2
43     1
42     1
45     1
Name: Age, dtype: int64

In [24]:
# Create the bins in which Data will be held
   
bins = [0, 9, 14, 19, 24, 29, 34, 39, 65]

# Create the names for the four bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

clean_purchase_data["Age Range"] = pd.cut(clean_purchase_data["Age"], bins, labels=group_names) #cut is the funciton that executes the bining

total_age_range = clean_purchase_data["Age Range"].value_counts()
percent_age_range = (total_age_range / Total) * 100

age_summary_table = pd.DataFrame({"Total Count": total_age_range,
                                    "Percentage of Players": percent_age_range})
age_summary_table.head(10)

C:\Users\ivvya\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

       Total Count  Percentage of Players
20-24          258              44.791667
15-19          107              18.576389
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
10-14           22               3.819444
<10             17               2.951389
40+             12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=group_names)

purchase_data.head()

#get counts for age range
age_range_count = purchase_data["Age Range"].value_counts() #Purchase Count

#group by Age Range
age_grouped_df = purchase_data.groupby(['Age Range'])

#Total Purchase Value
age_total_purchase = age_grouped_df["Price"].sum().head(10) #Total Purchase Value

#Average Purchase Price
age_mean_purchase = age_grouped_df["Price"].mean().head(10)

#Average Total Purchase Per Person
age_average_purchase = age_total_purchase/ total_age_range

#make a pretty summary table
age_summary_table3 = pd.DataFrame({"Purchase Count": age_range_count,
                                    "Total Purchase Value": age_total_purchase, 
                                     "Average Purchase Price": age_mean_purchase, 
                                     "Avg Total Purchase per Person": age_average_purchase})

age_summary_table3.head(10)

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg Total Purchase per Person
10-14,28,82.78,2.956429,3.762727
15-19,136,412.89,3.035956,3.858785
20-24,365,1114.06,3.052219,4.318062
25-29,101,293.00,2.900990,3.805195
30-34,73,214.00,2.931507,4.115385
35-39,41,147.67,3.601707,4.763548
40+,13,38.24,2.941538,3.186667
<10,23,77.13,3.353478,4.537059

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [44]:
#get counts for spenders
SN_count = purchase_data["SN"].value_counts() #Purchase Count

#print(SN_count)

#group by SN
SN_grouped_df = purchase_data.groupby(['SN'])

#Total Purchase Value
SN_total_purchase = SN_grouped_df["Price"].sum() #Total Purchase Value

#Average Purchase Price
SN_mean_purchase = SN_grouped_df["Price"].mean()

#make a pretty summary table
SN_summary_table = pd.DataFrame({"Purchase Count": SN_count,
                                    "Total Purchase Value": SN_total_purchase, 
                                     "Average Purchase Price": SN_mean_purchase})

#sort your data!

SN_sort = SN_summary_table.sort_values("Total Purchase Value", ascending = False)
SN_sort.head(5)

             Purchase Count  Total Purchase Value  Average Purchase Price
Lisosia93                 5                 18.96                3.792000
Idastidru52               4                 15.45                3.862500
Chamjask73                3                 13.83                4.610000
Iral74                    4                 13.62                3.405000
Iskadarya95               3                 13.10                4.366667

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [88]:
#get Item ID, Item Name, and Item Price
id_data = purchase_data.loc[:, ["Item ID", "Item Name", "Price"]]

#get counts by Item ID
id_data["Purchase Count"] = id_data["Item ID"].value_counts()

id_data.head()

#group by Item ID and Item Name
id_grouped_df = id_data.groupby(['Item ID', 'Item Name'])

id_total = id_grouped_df["Price"].sum()


#make id_total a data frame to merge with id_data
id_total_df= pd.DataFrame({"Total Purchase Value": id_total})

id_total_df.head()

id_merge= pd.merge(id_data, id_total_df, on="Item Name", how="inner")
id_merge.head()

clean_id_merge = id_merge.drop_duplicates(subset='Item ID', keep='first')

clean_id_merge.head()

clean_id_merge = clean_id_merge.set_index(["Item ID", "Item Name"])

clean_id_merge.head()

clean_id_sort = clean_id_merge.sort_values("Purchase Count", ascending = False)
clean_id_sort.head(5)

,,Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
85,Malificent Bag,1.75,9.0,12.25
46,Hopeless Ebon Dualblade,1.33,9.0,6.65
39,"Betrayal, Whisper of Grieving Widows",3.94,8.0,19.70
160,Azurewrath,4.40,8.0,26.40
73,Ritual Mace,2.05,8.0,10.25

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [89]:
clean_id_sort = clean_id_sort.sort_values("Total Purchase Value", ascending = False)

clean_id_sort.head()

,,Price,Purchase Count,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,6.0,50.76
82,Nirvana,4.90,2.0,44.10
145,Fiery Glass Crusader,4.58,2.0,41.22
101,Final Critic,4.19,4.0,39.04
92,Final Critic,4.88,6.0,39.04

## Trends

* Though total purchase value varies greatly because there are more males than females, both on average spend about the same on games


* A large portion of the data consists of players around the age of 15-24, which makes sense. Also, the 20-24 year olds spend the more money on average than the 15-19 year olds, since players in their early 20's probably have jobs and spend more of their money on games.


* The 35-39 year olds spend the most money on games, almost 5 bucks as they're in a stabe part of their lives and maybe going through a midlife crisis and spending money on games.